# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment files
.env

# Ignore build output
build/

# Ignore package-lock.json file
package-lock.json

# Ignore .DS_Store files (Mac)
.DS_Store

# Ignore .idea directory (JetBrains IDEs)
.idea/
